:root {
    color-scheme: light dark;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family:
        system-ui,
        -apple-system,
        sans-serif;
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
}

body {
    min-height: 100dvh;
    padding: 1rem;
    scrollbar-gutter: stable; /* Prevent layout shift because of scrollbar */
}

main {
    max-width: 40rem;
    margin: 0 auto;
    padding: 0.5rem;
}

h1,
h2,
h3 {
    background: none;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1rem;
}

p {
    margin-bottom: 1rem;
}

button,
input,
textarea,
pre {
    font: inherit;
    color: inherit;
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    margin-bottom: 0.75rem;
}

textarea {
    field-sizing: content;
    min-height: 2lh;
}

button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

label {
    display: block;
    font-weight: 600;
    margin-bottom: 0.25rem;
}

section {
    margin-bottom: 0.5rem;
    padding: 0.25rem;
    border-radius: 0.5rem;
}

textarea:disabled,
pre {
    backdrop-filter: blur(12px) saturate(1.5);
    background: #7773;
    cursor: default;
}

.overlay {
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    backdrop-filter: blur(6px) saturate(1.5);
}

.overlay[hidden] {
    display: none;
}

.modal {
    padding: 1rem;
    border: 1px solid #777;
    border-radius: 0.25rem;
    width: 40rem;
    max-width: 90vw;
    max-height: 90vh;
    overflow: auto;
    background: light-dark(#eee, #111);
}

#sec-error {
    background: #f777;
}

#crypto-dysphoria {
    border-radius: 0.5rem;

    background: linear-gradient(
        -70deg,
        hsl(0, 100%, 50%),
        hsl(60, 100%, 50%),
        hsl(120, 100%, 50%),
        hsl(180, 100%, 50%),
        hsl(240, 100%, 50%),
        hsl(300, 100%, 50%),
        hsl(360, 100%, 50%)
    );
    p {
        color: #111;
        padding: 0.25rem;
        margin: 0px;
        border-radius: 0.25rem;
        backdrop-filter: blur(12px) saturate(1.5);
        background: rgba(255, 255, 255, 0.5);
    }
}

.pass {
    background: light-dark(#bdb, #272);
}

.fail {
    background: light-dark(#dbb, #722);
}
